.p-button {
	background-color: var(--color-primary-500);
	color: var(--color-accent-100);
	display: flex;
	align-items: center;
	justify-content: center;

	gap: var(--size-md);

	padding: var(--size-md) var(--size-lg);
	border-radius: var(--radius-sm);

	margin: 2rem;

	transition: 0.2s;
}

.p-button:hover {
	background-color: var(--color-primary-600);
}

.p-button span {
	font-weight: 600;
}

.p-button-icon {
	display: inline-block;
	width: var(--size-lg);
	height: var(--size-lg);
	background-color: var(--color-accent-100); /* cor normal */
	-webkit-mask: var(--p-button-icon) center / contain no-repeat;
	mask: var(--p-button-icon) center / contain no-repeat;
}

.p-button:disabled {
	background-color: var(--color-neutral-200);
	color: var(--color-neutral-300);

	cursor: not-allowed;
}

/* Ícone dentro do botão desabilitado */
.p-button:disabled .p-button-icon {
	background-color: var(--color-neutral-300); /* nova cor do ícone */
}
