

.btn{
 

    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    text-decoration: none;
   
}

.btn:hover{
    cursor: pointer;
}
.btn-lg{
    font-size: var(--h6);
    padding: 8px 20px;
    gap: 8px;

}

.primary-btn{
    background-color: var(--color-primary-500);
    color: var(--color-accent-100);
    line-height: var(--heading-line-height);
}

.ghost-btn{
    background-color: var(--color-neutral-100);
    color: var(--color-neutral-700);
    line-height: var(--heading-line-height);
}

.ghost-btn:hover{
    background-color: var(--color-neutral-200);
    color: var(--color-neutral-800);
    line-height: var(--heading-line-height);
    
}

.primary-btn:hover{
   
    color: var(--color-accent-500);
  
}